<ul class='nav pull-left'>
  <li>
    <%= link_to "Cal Poly Men's Water Polo", root_path, :class => 'brand' %>
  </li>
</ul>
<ul class='nav pull-right'>
  <li class='divider-vertical'></li>
  <li>
    <%= link_to('Schedule', '#') %>
  </li>
  <li class='divider-vertical'></li>
  <li>
    <%= link_to('Roster', roster_path) %>
  </li>
  <li class='divider-vertical'></li>
  <li class='dropdown'>
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
      Administrativa <b class="caret"></b>
    </a>
    <ul class="dropdown-menu">
      <% if signed_in? %>
        <li><%= link_to "Edit Profile", edit_athlete_path(current_athlete) %></li>
        <li class="divider"></li>
        <li><%= link_to "Sign Out", signout_path, method: "delete" %></li>
      <% else %>
        <li><%= link_to "Sign In", signin_path %></li>
      <% end %>
    </ul>
  </li>
  <li class='divider-vertical'></li>
</ul>
